.currency-converter {
  background-color: rgba(255, 255, 255, 0.196);
  backdrop-filter: blur(10px);
  display: flex;
  padding: 30px 20px;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.currency-converter h2 {
  margin: 0;
  color: white;
  margin-bottom: 14px;
}

.currency-inputs {
  display: flex;
  padding: 30px 20px;
  border-radius: 20px;
  gap: 20px;
  align-items: center;
  text-align: center;
}

.input-group {
  width: 50%;
  height: 40px;
  border: none;
  border-radius: 5px;
  background: #fdfdfd;
}

input {
  background: transparent;
  border: none;
  padding: 0 0 0 5px;
  height: 100%;
}

select {
  background: transparent;
  border: none;
  height: 100%;
}

button {
  background: #4caf50;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #3e8e41;
}

button:active {
  background: #387632;
}
